<%- include('../partials/head_login_cadastro.ejs') %>
    <body>
        <div class="principal">
            <%- include('../partials/navbar.ejs') %>
            <div class="container">
                <br>
                <div class="title text-center">
                    <h1>RCA</h1>
                </div>
                <br>
                <div class="form">
                    <div class="form-config">
                        <form action="/cadastro-pet" method="post">
                        <label for="">Nome</label>
                        <div><input type="nome_pet" class="btn btn-ligth" name="nome_pet" id="" placeholder="Digite o nome do pet"></div><br>
                        <label for="">Sexo</label>
                        <div><input type="sexo_pet" class="btn btn-ligth" name="sexo_pet" id="" placeholder="Digite o sexo do pet"></div><br>
                        <label for="">Data de acolhimento</label>
                        <div><input type="data_resgate_pet" class="btn btn-ligth" name="data_resgate_pet" id="" placeholder="Digite a data de acolhimento do pet"></div><br>                   
                        <label for="">Cidade</label>
                        <div><input type="cidade" class="btn btn-ligth" name="cidade" id="" placeholder="Digite a cidade"></div><br>  
                        <label for="">Estado</label>
                        <div><input type="estado" class="btn btn-ligth" name="estado" id="" placeholder="Digite o estado"></div><br>  
                        <label for="">Endereço</label>
                        <div><input type="endereco" class="btn btn-ligth" name="endereco" id="" placeholder="Digite o endereço">
                        </div><br>  
                        <div><input type="submit" class="btn btn-success" name="" id="" value="Cadastrar Pet"></div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <%- include('../partials/footer.ejs') %>