<%- include('../partials/head.ejs') %>

    <body>
        <div class="pricipal configD">
            <%- include('../partials/navbar.ejs') %>
                <div class="container">
                    <div class="categoria">
                        <h1>Pets</h1>
                    </div>

                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card efeito efeitoCont">
                                <a href="/bimbou"><img src="img/Dog/Bimbou.jpg" class="card-img-top" alt="..."></a>
                                <div class="card-body">
                                    <h5 class="card-title">Bimbou</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card efeito efeitoCont">
                                <img src="img/Dog/Jessi.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Jessi</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card efeito efeitoCont">
                                <img src="img/Dog/Miguel.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Miguel</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card efeito efeitoCont">
                                <img src="img/Dog/Tulipa.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Tulipa</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <%- include('../partials/footer-1.ejs') %>
        </div>


    </body>
    <%- include('../partials/footer.ejs') %>