<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RCA PET</title>

    <link rel="stylesheet" href="/public/css/style.css";
<body>
    <nav class="top-nav">
        <ul class="top-nav-ul">
            <li><a href="#!">Home</a></li>
            <li><a href="#!">Adotar</a></li>
            <li><a href="#!">Ajudar</a></li>
            <li><a href="#!">Parcerias</a></li>
        </ul>
    </nav>
    <header class="top-header">
        <div class="top-header-img">
        </div>
        <section class="top-header-info">
        <h1 class="top-header-title">Adoção e marque sua visita para conhecê-los.</h1>
        <h2 class="top-header-subtitle">O cachorrinho que você procura para alegrar sua família está aqui, só esperando pela chance de te fazer (mais) feliz!</h2>
        </section>
    </header>
    <main>
        <section class="top-main">
            <article class="por-que-adotar">
                <h2 class="por-que-adotar-subtitle">Por que adotar?<h2>
            </article>
            <article class="item">
                <img src="img/img1.png" alt="">
                <h4 class="top-main-text">Nesse exato momento,</h2>
                <p class="top-main-text">existem milhares de doguinhos e gatinhos esperando um humano para chamar de seu.</p>
            </article>
            <article class="item">
                <img src="img/img2.png" alt="">
                <h4 class="top-main-text">E não há recompensa maior</h2>
                <p class="top-main-text">do que vê-los se tornando aquela coisinha alegre e saudável depois de uma boa dose de cuidado e carinho.</p>
            </article>
            <article class="item">
                <img src="img/img3.png" alt="">
                <h4 class="top-main-text">Pensando bem, a pergunta é outra:</h2>
                <p class="top-main-text">se você pode mudar o destino de um animal de rua, por que não faria isso?</p>
            </article>
            <a class="button" href="#!">Quero Adotar</a>
            <a class="button" href="#!">Quero Ajudar</a>
        </section>
        <section class="top-img">
            <h2 class="preciso-de-um-lar">Olá, preciso de um lar!</h2>
            <article class="top-main-img">
                <img src="img/" alt="">
            </article>
            <article class="top-main-img">

            </article>
            <article class="top-main-img">

            </article>
            <article class="top-main-img">

            </article>
            <article class="top-main-img">

            </article>
            <article class="top-main-img">

            </article>
        </section>
    </main>
    <footer class="top-footer">

        <section class="redes-sociais">
            <ul>
                <li><a href="#!">Facebook</a></li>
                <li><a href="#!">Instagram</a></li>
                <li><a href="#!">Twitter</a></li>
            </ul>
        </section>
    </footer>
</body>
</html>